<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Other</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Other</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle> Pengalaman: </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Sangat menarik untuk bisa belajar mengenai web-based application, terlebih
      juga ionic menyajikan fitur dan dokumentasi yang cukup lengkap.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle> Kritik / Saran: </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Terkadang video di youtube suaranya kurang jelas, mungkin bisa dibesarkan
      lagi.
    </ion-card-content>
  </ion-card>
</ion-content>
